body{
    padding-top:50px;
    background-image: url(https://bit.ly/2TUGOr0);
    background-size: cover;
    background-repeat: no-repeat;
}
.search-form{
    padding-top: 50px;
}

.prof{
    border:2px solid black;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
#repo{
    margin-bottom: 1%;
}


